* {
  margin: 0px;
  padding: 0px;
}

.larger-text {
  font-size: 32px;
}

.container {
  padding: 12px 16px 2px;
  min-width: 200px;
}

.title {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 22px;
  color: #28323e;
  height: 28px;
  margin: 0px 0px 28px;
}

.item {
  background: #ffffff;
  backdrop-filter: blur(16px);
  /* Note: backdrop-filter has minimal browser support */
  padding: 24px 20px;
  margin: 12px 0px;
  border-radius: 12px;
}
.main_container {
  padding: 24px 24px;
}

.main_row_1 {
  border-color: #f3f4fa;
  border-width: 0px 0px 1px;
  border-style: solid;
  height: 43px;
  align-items: top;
  justify-content: center;
  display: flex;
}

.header1 {
  height: 18px;
  font-size: 18px;
  line-height: 18px;
  color: #6d7a8a;
  margin: 0px 0px 8px;
}
.row_2_content {
  display: flex;
  align-items: flex-end;
  color: #298bff;
  font-weight: bold;
  height: 55px;
}

.row_2_content_amount {
  height: 55px;
  font-size: 64px;
  margin: 0px 2px 0px 0px;
  display: flex;
  align-items: center;
  text-align: center;
}

.row_2_content_units {
  font-size: 28px;
}

.level_part1 {
  margin: 2px 6px 0px 0px;
}

.level_part2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 22px;
  color: #28323e;
}

.row_3_text {
  margin: 16px 0px;
  font-size: 14px;
  line-height: 18px;
  color: #28323e;
}

.row_3_image {
  width: 174px;
  height: 60px;
}

.main_row_2 {
  border-color: #f3f4fa;
  border-width: 0px 0px 1px;
  border-style: solid;
  height: 114px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.main_row_3 {
  height: 138px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.main_row_4 {
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  background: #298bff;
}

.item_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item_text {
  font-size: 14px;
  line-height: 24px;
  color: #28323e;
}

.arrow {
  margin: 0px 4.5px 0px 14.5px;
  width: 8px;
  height: 13px;
}

body {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  background: #f3f4fa;
}

a {
  text-decoration: none;
}
